
header.header
	nav.header-nav
		ul.header-nav--list
			li.header-nav--item File
			li.header-nav--item Edit
			li.header-nav--item Selection
			li.header-nav--item Find
			li.header-nav--item View
			li.header-nav--item GoTo
			li.header-nav--item Tools
			li.header-nav--item Project
			li.header-nav--item Preferences
			li.header-nav--item Help
		ul.header-social--list
			li.header-social--item
				a(href="https://github.com/AlbertoDSosa", class="icon icon-github", target="_blank")
			li.header-social--item
				a(href="https://gitlab.com/AlbertoDSosa", target="_blank")
					img(src="img/gitlab.png", width="16px")
			li.header-social--item
				a(href="https://es.linkedin.com/in/albertodsosa", class="icon icon-linkedin", target="_blank")
			li.header-social--item
				a(href="https://twitter.com/AlbertoDSosa", class="icon icon-twitter2", target="_blank")
			li.header-social--item
				a(href="https://www.youtube.com/channel/UCBn9dkhg66HC7y8eAj2gRbQ", class="icon icon-youtube", target="_blank")
section.body
	aside.body-sidebar
		.body-sidebar--openFiles
			h4 OPEN FILES
			ul.sidebar-openFiles--list
				include ./open-files.jade
		.body-sidebar--folders
			h4 FOLDERS
			ul.sidebar-folders--list
				li.sidebar-folders--folder
					span.icon.icon-folder
					|bin
					.folder-open
						ul.folder-open--list
							li.folder-open--file
								span.icon.icon-file-zip
								| index.zip
				li.sidebar-folders--folder
					span.icon.icon-folder
					| build
					.folder-open
						ul.folder-open--list
							li.folder-open--file
								span.icon.icon-file-text2
								| index.html
							li.folder-open--file
								span.icon.icon-file-text2
								| main.js
							li.folder-open--file
								span.icon.icon-file-text2
								| main.css
				li.sidebar-folders--folder
					span.icon.icon-folder
					| src
					.folder-open
						ul.folder-open--list
							li.folder-open--file
								span.icon.icon-file-text2
								| index.jade
							li.folder-open--file
								span.icon.icon-file-text2
								| index.js
							li.folder-open--file
								span.icon.icon-file-text2
								| main.styl
				li.sidebar-folders--file
					span.icon.icon-file-text2
					| about.md
				li.sidebar-folders--file
					span.icon.icon-file-text2
					| readme.md
				li.sidebar-folders--file
					span.icon.icon-file-text2
					| package.json
				li.sidebar-folders--file
					span.icon.icon-file-text2
					| gulpfile.js
	article.body-content
		nav.body-content--nav
			ul.body-content--nav__list
				include ./tabs.jade
		.body-content--code
			pre.line-numbers
				code
footer.footer
	.footer-info Alberto D.Sosa - 2016
		.footer-lang #{lang}